artificial neural networks

libraries

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

data

In [5]:
df = pd.read_csv('hourly_wages.csv')
df.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 534 entries, 0 to 533
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wage_per_hour   534 non-null    float64
 1   union           534 non-null    int64
 2   education_yrs   534 non-null    int64
 3   experience_yrs  534 non-null    int64
 4   age             534 non-null    int64
 5   female          534 non-null    int64
 6   marr            534 non-null    int64
 7   south           534 non-null    int64
 8   manufacturing   534 non-null    int64
 9   construction    534 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 41.8 KB